.Person{
    width: 60%;
    margin: 24px auto;
    border: 1 solid #eee;
    box-shadow: 0 8px 3px #ccc;
    padding: 16px;
    text-align: center;
}


/* media query is a way to have logic in css if conditions are met : if window width 500px then person width is 450px
@media (min-width: 500px) {
    .Person{
        width: 450px;
    }
}*/